<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Home Appliances</h2>

  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-5 col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Add New Appliance</h4>
        </div>
        <div class="card-body">
          <div class="alert alert-info">
            <span>ID: <input type="text" style="background-color:rgb(6, 160, 221);"> </span>
          </div>
          <div class="alert alert-info">
            <span>Type: <input type="text" style="background-color:rgb(6, 160, 221);"></span>
          </div>
          <div class="alert alert-info">
            <span>Location: <input type="text" style="background-color:rgb(6, 160, 221);"></span>
          </div>
          <div class="alert alert-info alert-with-icon" data-notify="container">
            <span>
              <h5>Attributes</h5>
            </span>
            <hr>
            <span>
              Name: <input type="text" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Min: <input type="number" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Max: <input type="number" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Current: <input type="number" style="background-color:rgb(6, 160, 221);">
            </span>
            <hr>
            <span>
              Name: <input type="text" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Min: <input type="number" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Max: <input type="number" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Current: <input type="number" style="background-color:rgb(6, 160, 221);">
            </span>
            <hr>
            <span>
              Name: <input type="text" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Min: <input type="number" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Max: <input type="number" style="background-color:rgb(6, 160, 221);">
              <br>
              <br>
              Current: <input type="number" style="background-color:rgb(6, 160, 221);">
            </span>
          </div>
          <div class="alert alert-info">
            <button style="margin-left: 110px;" (click)="saveAppliance()">Save Appliance</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
