<div style="padding-right:15px;" class="container-fluid">
  <div class="intern">    
         <div class="row">
           <form action="" style="width:100%;" [formGroup]="nestedForm">
             <div class="col">
       
               <div class="row">
                          <label for="id"></label>
                         <input type="hidden" formControlName="id"  id="id" >
                         
                 <div class="col-6">
                   <div class="form-group">
                     <label for="name"> Name</label>
                     <input type="text" formControlName="name" id="name" placeholder="Enter name of Equipment">
                     
                   </div>
                 </div>
                 <div class="col-6">
                   <div class="form-group">
                     <label for="state">State</label>
                     <input type="text" formControlName="state"  id="state" placeholder="Enter state">
                   </div>
                 </div>
  
                 <div class="col-6">
                       <div class="form-group">
                         <label for="type"> Type</label>
                         <input type="text" formControlName="type" 
                          id="type" placeholder="Enter Type">
                       </div>
                     </div>
                     <div class="col-6">
                       <div class="form-group">
                         <label for="location"> Location</label>
                         <input type="text" formControlName="location"  id="location" placeholder="Enter Location">
                       </div>
                     </div>
                
               </div>
       
               <div class="row justify-content-center">
                <div class="col-2">
                  <button type="button"  (click)="submitHandler()" class="btn btn-primary">Submit</button>
                </div>
              </div>
             </div>
           </form>
         </div>
       </div>
  
  </div>