<!-- Tabela qe liston disa te dhena per secilen appliance, dhe butonat per ndryshimin e gjendjes on/off-->


<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Your Appliances</h4>
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table" >
              <thead class=" text-primary">
                <th>Type</th>
                <th>Location</th>
                <th>Attributes Number</th>
                <th>State</th>
                <th> Change State  </th>
              </thead>
              <tbody *ngFor="let app of appliance.element" >
                <td>{{ app.type }}</td>
                <td>{{ app.location.room }}</td>
                <td>{{ app.attribute.length }}</td>
                <td>{{ app.state }}</td>
                <td class="state button">
                  <button (click)="updateState(app.id)">Change</button>
                                
                </td>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>