<div class="panel-header">
  <div class="header text-center">
    <br>
    <h2 class="title">Your Home Appliances</h2>
 
  </div>
</div>
 
<div class="mainDiv">
  <div class="row">
    <div class="col-lg-4" *ngFor="let app of appliance.element">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"><b>location: </b> {{ app.location.room }}<b> type: </b>{{ app.type }}</h5>
          <h4 class="card-title"></h4>
          
        </div>
        <div class="card-body">
          <table class="tabela">
            <tr>
              <th>Name</th>
              <th>Min</th>
              <th>Max</th>
              <th>Current</th>
            </tr>
            <tr class="rreshtTabele" *ngFor="let attr of app.attribute">
              <td>{{ attr.name }}</td>
              <td>{{ attr.min }}</td>
              <td>{{ attr.max }}</td>
              <td>{{ attr.value }}</td>
            </tr>
          </table>
          <br>
        </div>
        <div class="card-footer">
          
          <div class="state" >
           <p> {{ app.state }} </p>
          </div>
          <hr>
        </div>
      </div>
    </div>
    