<div class="panel-header">
  <div class="header text-center">
    <br>
    <h2 class="title">Your Home Appliances</h2>

  </div>
</div>

<div class="mainDiv">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category"><b>location: </b> Location 1 <b> type: </b>Type 1</h5>
          <h4 class="card-title">APPLIANCE 1</h4>
          
        </div>
        <div class="card-body">
          <table class="tabela">
            <tr>
              <th>Name</th>
              <th>Min</th>
              <th>Max</th>
              <th>Current</th>
            </tr>
            <tr class="rreshtTabele">
              <td>BVBV</td>
              <td>SSS</td>
              <td>324</td>
              <td>1234</td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
          
          <span class="state" style="color: rgb(0, 204, 51);">ON</span>
          <hr>
        </div>
      </div>
    </div>       
  </div>
</div>